all-words-test
dictionary-test
distance-test
keyb-test
posgen-test
sc-train
sentence-test
syllable-test
tokenize-test
wfst-test
wfst-train
utf8toviscii
lm-test
lattice-test
sc2wngram
dag-test
vspell-check
std-syllable
pf
lattice2dot
test.*
